{
 "openapi": "3.0.0",
 "info": {
  "title": "",
  "version": "1.0.0"
 },
 "servers": [
  {
   "url": "https://automation.playwithvsa.com/api"
  }
 ],
 "paths": {
  "/v1/billing/invoices": {
   "get": {
    "tags": [
     "Billing"
    ],
    "summary": "Get invbooks list | T\u00e9l\u00e9charge la liste des factures",
    "description": "",
    "operationId": "4b614b19f404387d8486dc3d9baf1c16",
    "parameters": [
     {
      "name": "invoiceDateMin",
      "in": "query",
      "description": "Minimal invbook date format yyyy-mm-dd",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "invoiceDateMax",
      "in": "query",
      "description": "Maximal invbook date format yyyy-mm-dd",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "creationDateMin",
      "in": "query",
      "description": "Minimal invbook creation date format yyyy-mm-dd",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "creationDateMax",
      "in": "query",
      "description": "Maximal invbook creation date format yyyy-mm-dd",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "entityCode",
      "in": "query",
      "description": "Entity Code",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "paymentStatus",
      "in": "query",
      "description": "Payment status: 'All', 'Unpaid', 'Partially paid', 'Unpaid and partially paid', 'Fully Paid' | Statut de paiement:  'Tous', 'Non pay\u00e9e', 'Partiellement', 'Partiellement ou non pay\u00e9e', 'Pay\u00e9e enti\u00e8rement'",
      "schema": {
       "type": "string",
       "default": "ALL",
       "enum": [
        "ALL",
        "UNPAID",
        "PARTIAL",
        "UNPAID_AND_PARTIAL",
        "PAID"
       ]
      }
     },
     {
      "name": "overdue",
      "in": "query",
      "description": "Overdue invoice | Facture \u00e9chue",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "Maximum Number of items requested per page (if set enable pagination) - maximum 1000 per page",
      "schema": {
       "type": "integer",
       "maximum": 1000
      }
     },
     {
      "name": "offset",
      "in": "query",
      "description": "Requested page number",
      "schema": {
       "type": "integer",
       "default": 1,
       "minimum": 1
      }
     },
     {
      "name": "X-Paginate-Limit",
      "in": "header",
      "description": "Maximum Number of items requested per page (if set enable pagination) - maximum 1000 per page",
      "schema": {
       "type": "integer",
       "maximum": 1000
      }
     },
     {
      "name": "X-Paginate-Offset",
      "in": "header",
      "description": "Requested page number",
      "schema": {
       "type": "integer",
       "default": 1,
       "minimum": 1
      }
     }
    ],
    "responses": {
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "200": {
      "description": "Success",
      "headers": {
       "X-Total-Count": {
        "description": "Maximum number of items available",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Limit": {
        "description": "Number of items return per page",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Offset": {
        "description": "Current page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-First": {
        "description": "First page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Last": {
        "description": "Last page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Prev": {
        "description": "Previous page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Next": {
        "description": "Next page number",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Pagination URI References - see https://tools.ietf.org/html/rfc5988",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/BillingInvoiceList"
         }
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/billing/invoice/{id}/edocument": {
   "get": {
    "tags": [
     "Billing"
    ],
    "summary": "Download the invoice UBL/CII file | T\u00e9l\u00e9charge le fichier UBL/CII de la facture",
    "description": "Returns the UBL file associated with the invoice. If both UBL and CII are available, UBL is returned in priority.",
    "operationId": "61fa3541fadc75886eddd2fc935617c2",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Invoice ID",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "format",
      "in": "query",
      "description": "Invoice format of your choice (UBL20/UBL30, default UBL20)",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "200": {
      "description": "Binary file content (XML)"
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/billing/invoice/{id}": {
   "get": {
    "tags": [
     "Billing"
    ],
    "summary": "Get invbook details | T\u00e9l\u00e9charge les d\u00e9tails d'une facture",
    "description": "",
    "operationId": "f8257f122c7662a6baae3299f6b462f4",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Invoice ID",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/BillingInvoiceResponse"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/billing/customer/{code}": {
   "get": {
    "tags": [
     "Billing"
    ],
    "summary": "Get customer details | T\u00e9l\u00e9charge les d\u00e9tails d'un client",
    "description": "",
    "operationId": "0cb77eb20a3e8a2eb2e2977e4b6ce94b",
    "parameters": [
     {
      "name": "code",
      "in": "path",
      "description": "Customer code",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "entityCode",
      "in": "query",
      "description": "Entity Code",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "calculatePaymentBehavior",
      "in": "query",
      "description": "This will calculate the paymentBehavior data array (this is a heavy workload process) - default is false | Cela calculera le bloc paymentBehavior (ce calcul est consommateur de ressources) - false par d\u00e9faut",
      "schema": {
       "type": "boolean",
       "default": "false"
      }
     }
    ],
    "responses": {
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/BillingCustomer"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/billing/invoice/{id}/attachment": {
   "get": {
    "tags": [
     "Billing"
    ],
    "summary": "Download the invoice in PDF format | T\u00e9l\u00e9charge la facture au format PDF",
    "description": "",
    "operationId": "0b36b876d150517aee69e9f8f730582d",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Invoice ID",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "200": {
      "description": "Binary file content"
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/billing/payment": {
   "post": {
    "tags": [
     "Billing"
    ],
    "summary": "Customer payments loader | Cr\u00e9ation de r\u00e8glements clients",
    "operationId": "b7139f2844752e95d6ffd00d892747d4",
    "requestBody": {
     "description": "Customer payment",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/CustomerPaymentsIn"
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Success"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/billing/payment-media": {
   "get": {
    "tags": [
     "Billing"
    ],
    "summary": "Retrieving available accounting export | R\u00e9cup\u00e9ration de la liste des supports de paiements",
    "operationId": "73c8884e99691c610e6a15eb044f76a3",
    "parameters": [
     {
      "name": "entitiesCodes",
      "in": "query",
      "description": "List of entity codes",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/PaymentMedia"
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/purchase/suppliers": {
   "get": {
    "tags": [
     "Purchase"
    ],
    "summary": "Suppliers list / Liste des fournisseurs",
    "operationId": "963851247436ed752d56bdcd9435d9be",
    "parameters": [
     {
      "name": "tiersCode",
      "in": "query",
      "description": "Supplier Code",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "name",
      "in": "query",
      "description": "Supplier name",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "codeDisplay",
      "in": "query",
      "description": "Supplier display code",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "archive",
      "in": "query",
      "description": "Archive",
      "schema": {
       "type": "string",
       "enum": [
        "ARCHIVED",
        "NOT_ARCHIVED"
       ]
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "Maximum number of items per page (enables pagination) - maximum 1000 per page",
      "schema": {
       "type": "integer",
       "maximum": 1000
      }
     },
     {
      "name": "offset",
      "in": "query",
      "description": "Requested page number",
      "schema": {
       "type": "integer",
       "default": 1,
       "minimum": 1
      }
     },
     {
      "name": "X-Paginate-Limit",
      "in": "header",
      "description": "Maximum number of items per page (enables pagination) - maximum 1000 per page",
      "schema": {
       "type": "integer",
       "maximum": 1000
      }
     },
     {
      "name": "X-Paginate-Offset",
      "in": "header",
      "description": "Requested page number",
      "schema": {
       "type": "integer",
       "default": 1,
       "minimum": 1
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "headers": {
       "X-Total-Count": {
        "description": "Maximum number of items available",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Limit": {
        "description": "Number of items returned per page",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Offset": {
        "description": "Current page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-First": {
        "description": "First page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Last": {
        "description": "Last page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Prev": {
        "description": "Previous page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Next": {
        "description": "Next page number",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Pagination URI References - see https://tools.ietf.org/html/rfc5988",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/PurchaseSupplier"
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/purchase/supplier/{code}": {
   "get": {
    "tags": [
     "Purchase"
    ],
    "summary": "Get supplier details | T\u00e9l\u00e9charge les d\u00e9tails d'un fournisseur",
    "description": "",
    "operationId": "dac16a0d8a08dbb0ed5d813b06416646",
    "parameters": [
     {
      "name": "code",
      "in": "path",
      "description": "Supplier code",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "entityCode",
      "in": "query",
      "description": "Entity Code",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PurchaseSupplier"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/purchase/deliveries": {
   "get": {
    "tags": [
     "Purchase"
    ],
    "summary": "Deliveries and products | Prestations et Produits d'achat",
    "operationId": "28416d9be03b64fb2538c858a5ef4a22",
    "parameters": [
     {
      "name": "enabled",
      "in": "query",
      "description": "Enabled / Actif | (format {0,1})",
      "schema": {
       "type": "boolean",
       "default": ""
      }
     },
     {
      "name": "supplierTiersCode",
      "in": "query",
      "description": "Filter by supplier code | Filtre par code fournisseur",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "Maximum number of items per page (enables pagination) - maximum 1000 per page",
      "schema": {
       "type": "integer",
       "maximum": 1000
      }
     },
     {
      "name": "offset",
      "in": "query",
      "description": "Requested page number",
      "schema": {
       "type": "integer",
       "default": 1,
       "minimum": 1
      }
     },
     {
      "name": "X-Paginate-Limit",
      "in": "header",
      "description": "Maximum number of items per page (enables pagination) - maximum 1000 per page",
      "schema": {
       "type": "integer",
       "maximum": 1000
      }
     },
     {
      "name": "X-Paginate-Offset",
      "in": "header",
      "description": "Requested page number",
      "schema": {
       "type": "integer",
       "default": 1,
       "minimum": 1
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "headers": {
       "X-Total-Count": {
        "description": "Maximum number of items available",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Limit": {
        "description": "Number of items returned per page",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Offset": {
        "description": "Current page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-First": {
        "description": "First page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Last": {
        "description": "Last page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Prev": {
        "description": "Previous page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Next": {
        "description": "Next page number",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Pagination URI References - see https://tools.ietf.org/html/rfc5988",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/PurchaseDelivery"
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/purchase/delivery/categories": {
   "get": {
    "tags": [
     "Purchase"
    ],
    "summary": "Deliveries and products Categories",
    "operationId": "0af9f2736174680bdd6b2b0babf7bed9",
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/PurchaseDeliveryCategory"
         }
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/purchase/delivery/category/types": {
   "get": {
    "tags": [
     "Purchase"
    ],
    "summary": "Deliveries and products Categories Type",
    "operationId": "07eb0f17403e4b389243e6234a03cfa5",
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/PurchaseDeliveryCategoryType"
         }
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/purchase/subcontractors/information": {
   "get": {
    "tags": [
     "Purchase"
    ],
    "summary": "Subcontractor personal information | Informations personnelles des sous-traitants",
    "operationId": "2dad57e095342823eb42ad762cabe64a",
    "parameters": [
     {
      "name": "date",
      "in": "query",
      "description": "Filter subcontractors present on this date - please note that if this parameter is provided startingDate and endingDate will not be considered, and only the presence matching the date will be returned / Filtre les sous-traitants pr\u00e9sents \u00e0 cette date - notez que si ce param\u00e8tre est renseign\u00e9 alors startingDate et endingDate ne seront pas utilis\u00e9es, et la seule pr\u00e9sence correspondant sera retourn\u00e9e | (format Y-m-d)",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "startingDate",
      "in": "query",
      "description": "Filter subcontractors present after this date / Filtre les sous-traitants pr\u00e9sents apr\u00e8s cette date | (format Y-m-d)",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "endingDate",
      "in": "query",
      "description": "Filter subcontractors present before this date / Filtre les sous-traitants pr\u00e9sents avant cette date | (format Y-m-d)",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "updated",
      "in": "query",
      "description": "Filter elements updated from the date provided / Filtre sur les \u00e9l\u00e9ments mis \u00e0 jour depuis la date fournie | (format Y-m-d)",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "Maximum number of items per page (enables pagination) - maximum 1000 per page",
      "schema": {
       "type": "integer",
       "maximum": 1000
      }
     },
     {
      "name": "offset",
      "in": "query",
      "description": "Requested page number",
      "schema": {
       "type": "integer",
       "default": 1,
       "minimum": 1
      }
     },
     {
      "name": "X-Paginate-Limit",
      "in": "header",
      "description": "Maximum number of items per page (enables pagination) - maximum 1000 per page",
      "schema": {
       "type": "integer",
       "maximum": 1000
      }
     },
     {
      "name": "X-Paginate-Offset",
      "in": "header",
      "description": "Requested page number",
      "schema": {
       "type": "integer",
       "default": 1,
       "minimum": 1
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "headers": {
       "X-Total-Count": {
        "description": "Maximum number of items available",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Limit": {
        "description": "Number of items returned per page",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Offset": {
        "description": "Current page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-First": {
        "description": "First page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Last": {
        "description": "Last page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Prev": {
        "description": "Previous page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Next": {
        "description": "Next page number",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Pagination URI References - see https://tools.ietf.org/html/rfc5988",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/SubcontractorPersonalInformation"
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/security/groups": {
   "get": {
    "tags": [
     "Administration"
    ],
    "summary": "Security groups referential | R\u00e9f\u00e9rentiel des groupes de s\u00e9curit\u00e9s",
    "operationId": "9e38e86adccb707f8acd9ccc98bd6485",
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/SecurityGroup"
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/security/scopes": {
   "get": {
    "tags": [
     "Administration"
    ],
    "summary": "Security scopes referential | R\u00e9f\u00e9rentiel des p\u00e9rim\u00e8tres de s\u00e9curit\u00e9",
    "operationId": "ed474976ca0092351f0b19b5f5aaeaac",
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/SecurityScope"
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/user/{login}/security": {
   "post": {
    "tags": [
     "Administration"
    ],
    "summary": "Assigning a security group/scope | Assignation d'un groupe de s\u00e9curit\u00e9 / p\u00e9rim\u00e8tre",
    "operationId": "12f697f62e2512eaf40e89d6da31ca41",
    "parameters": [
     {
      "name": "login",
      "in": "path",
      "description": "User login",
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "Assigning a security group/scope to a user",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/SecurityGroupsIn"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "text/plain": {
        "schema": {
         "description": "OK",
         "type": "string"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/entities": {
   "get": {
    "tags": [
     "Administration"
    ],
    "summary": "Entities list",
    "operationId": "97b46f2388e0ecbe78fb8974c8bc7114",
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/EntityList"
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/entities/list": {
   "get": {
    "tags": [
     "Administration"
    ],
    "summary": "Entities list",
    "description": "DEPRECTATED: Preferred the use of /v1/entities",
    "operationId": "2b9cc49d8463d2834025295301a74191",
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/EntityResponse"
         }
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "deprecated": true,
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/interface/payevent/param": {
   "get": {
    "tags": [
     "Interface"
    ],
    "summary": "List of pay event param | Listes des variables de paie par \u00e9v\u00e8nements",
    "operationId": "5a1de24dd5f7bedad621cf81f750ba3b",
    "parameters": [
     {
      "name": "id",
      "in": "query",
      "description": "Export param ID | ID du param\u00e8tre d'export",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/PayEventParam"
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/interface/payevent/columns": {
   "get": {
    "tags": [
     "Interface"
    ],
    "summary": "List of column code for export param | Liste des codes colonnes pour les param\u00e8tres d'export",
    "operationId": "ac80ba5cb3248e22611b2d093c706868",
    "parameters": [
     {
      "name": "code",
      "in": "query",
      "description": "Column code | Code colonne",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/PayEventColumn"
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/interface/payevent/data": {
   "get": {
    "tags": [
     "Interface"
    ],
    "summary": "List of data code for export param | Lies des code de donn\u00e9es pour les param\u00e8tres d'export",
    "operationId": "de720539479f5eedd95c677b62b888c0",
    "parameters": [
     {
      "name": "code",
      "in": "query",
      "description": "Data code | Code de la donn\u00e9e",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/PayEventData"
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/interface/payevent/export": {
   "get": {
    "tags": [
     "Interface"
    ],
    "summary": "List of pay event export | Liste des exports de paie par \u00e9v\u00e9nements",
    "operationId": "052c0a2fb1527f8cce5f39c076fb9b9c",
    "parameters": [
     {
      "name": "param",
      "in": "query",
      "description": "Param ID | ID d'un param\u00e8trage d'export",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/PayEventExport"
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/interface/payevent/export/{id}/data": {
   "get": {
    "tags": [
     "Interface"
    ],
    "summary": "List of data lines for pay event export | Liste des lignes de donn\u00e9es d'exports de paie par \u00e9v\u00e9nements",
    "operationId": "5b5715163459f5d0131ba5ec3994059e",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Export ID |  ID d'un export",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "user",
      "in": "query",
      "description": "User ID | ID du collaborateur",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "entity",
      "in": "query",
      "description": "Entity ID | ID de l'entit\u00e9",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/PayEventExportData"
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/interface/accounting/export/params": {
   "get": {
    "tags": [
     "Interface"
    ],
    "summary": "Retrieving available accounting export formats with description | R\u00e9cup\u00e9ration des formats d'exports comptables disponibles avec la description",
    "operationId": "2fca1e6afb5cd1edf2cf62e9d4deef79",
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/AccountingExportParam"
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/interface/accounting/export/exports": {
   "get": {
    "tags": [
     "Interface"
    ],
    "summary": "Retrieving available accounting export | R\u00e9cup\u00e9ration des exports comptables disponibles",
    "operationId": "4cafec6ce1aca2994b248616c1d8092e",
    "parameters": [
     {
      "name": "entitiesCodes",
      "in": "query",
      "description": "List of entity codes",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "startMonth",
      "in": "query",
      "description": "Start month | Mois d\u00e9but",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "startYear",
      "in": "query",
      "description": "Start year | Ann\u00e9e d\u00e9but",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "endMonth",
      "in": "query",
      "description": "End month | Mois fin",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "endYear",
      "in": "query",
      "description": "End year | Ann\u00e9e fin",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "exportFormat",
      "in": "query",
      "description": "Export format | Formats d'export",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/AccountingExport"
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/interface/accounting/export/create": {
   "post": {
    "tags": [
     "Interface"
    ],
    "summary": "Create an accounting export | Cr\u00e9er un export comptable",
    "operationId": "528cab6c491de42be4a8e5f56b66bc74",
    "requestBody": {
     "description": "Create an accounting export",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AccountingExportIn"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Success"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/interface/accounting/export/{id}": {
   "delete": {
    "tags": [
     "Interface"
    ],
    "summary": "Delete an accounting export | Supprime un export comptable",
    "operationId": "79c9d5417d6db93265bf94dc2853e2b8",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "export ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success"
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/interface/accounting/export/{id}/data/generate": {
   "get": {
    "tags": [
     "Interface"
    ],
    "summary": "Generate accounting export data | G\u00e9n\u00e9ration des donn\u00e9es d'un export comptable",
    "operationId": "8462d4d547d6a207ebac1c8de802953b",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "export ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/interface/accounting/export/{id}/data": {
   "get": {
    "tags": [
     "Interface"
    ],
    "summary": "Get accounting export data | R\u00e9cup\u00e9ration des donn\u00e9es d'un export comptable",
    "operationId": "9e79f72c246416e4d96dd67c555c121a",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "export ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   },
   "delete": {
    "tags": [
     "Interface"
    ],
    "summary": "Delete data from an accounting export | Supprime les donn\u00e9es d'un export comptable",
    "operationId": "9f7bba9af801956eb0efeb6dda9951a6",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "export ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success"
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/orders/assignments": {
   "get": {
    "tags": [
     "Sales"
    ],
    "summary": "List of consultants assignment",
    "operationId": "77d38179fdbd4033957d28f47d291bff",
    "parameters": [
     {
      "name": "limit",
      "in": "query",
      "description": "Maximum number of items per page (enables pagination) - maximum 1000 per page",
      "schema": {
       "type": "integer",
       "maximum": 1000
      }
     },
     {
      "name": "offset",
      "in": "query",
      "description": "Requested page number",
      "schema": {
       "type": "integer",
       "default": 1,
       "minimum": 1
      }
     },
     {
      "name": "X-Paginate-Limit",
      "in": "header",
      "description": "Maximum number of items per page (enables pagination) - maximum 1000 per page",
      "schema": {
       "type": "integer",
       "maximum": 1000
      }
     },
     {
      "name": "X-Paginate-Offset",
      "in": "header",
      "description": "Requested page number",
      "schema": {
       "type": "integer",
       "default": 1,
       "minimum": 1
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "headers": {
       "X-Total-Count": {
        "description": "Maximum number of items available",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Limit": {
        "description": "Number of items returned per page",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Offset": {
        "description": "Current page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-First": {
        "description": "First page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Last": {
        "description": "Last page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Prev": {
        "description": "Previous page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Next": {
        "description": "Next page number",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Pagination URI References - see https://tools.ietf.org/html/rfc5988",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/OrderAssignment"
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/orders": {
   "get": {
    "tags": [
     "Sales"
    ],
    "summary": "Retrieve Orders",
    "operationId": "66801610fa544157a2d3663c4035f3e3",
    "parameters": [
     {
      "name": "archived",
      "in": "query",
      "description": "Filter to display archive order (Add query param archived=1 to your request)",
      "schema": {
       "type": "boolean",
       "default": "false"
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "Maximum Number of items requested per page (if set enable pagination) - maximum 1000 per page",
      "schema": {
       "type": "integer",
       "maximum": 1000
      }
     },
     {
      "name": "offset",
      "in": "query",
      "description": "Requested page number",
      "schema": {
       "type": "integer",
       "default": 1,
       "minimum": 1
      }
     },
     {
      "name": "X-Paginate-Limit",
      "in": "header",
      "description": "Maximum Number of items requested per page (if set enable pagination) - maximum 1000 per page",
      "schema": {
       "type": "integer",
       "maximum": 1000
      }
     },
     {
      "name": "X-Paginate-Offset",
      "in": "header",
      "description": "Requested page number",
      "schema": {
       "type": "integer",
       "default": 1,
       "minimum": 1
      }
     },
     {
      "name": "tiersCode",
      "in": "query",
      "description": "Filter by customer code | Filtre par code client",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "headers": {
       "X-Total-Count": {
        "description": "Maximum number of items available",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Limit": {
        "description": "Number of items return per page",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Offset": {
        "description": "Current page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-First": {
        "description": "First page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Last": {
        "description": "Last page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Prev": {
        "description": "Previous page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Next": {
        "description": "Next page number",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Pagination URI References - see https://tools.ietf.org/html/rfc5988",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/OrderListResponse"
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/order/deliveries": {
   "get": {
    "tags": [
     "Sales"
    ],
    "summary": "Deliveries and products | Prestations et Produits de vente",
    "operationId": "36488c1510e8977983c72d60000176f6",
    "parameters": [
     {
      "name": "supplierTiersCode",
      "in": "query",
      "description": "Filter by supplier code | Filtre par code fournisseur",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "Maximum number of items per page (enables pagination) - maximum 1000 per page",
      "schema": {
       "type": "integer",
       "maximum": 1000
      }
     },
     {
      "name": "offset",
      "in": "query",
      "description": "Requested page number",
      "schema": {
       "type": "integer",
       "default": 1,
       "minimum": 1
      }
     },
     {
      "name": "X-Paginate-Limit",
      "in": "header",
      "description": "Maximum number of items per page (enables pagination) - maximum 1000 per page",
      "schema": {
       "type": "integer",
       "maximum": 1000
      }
     },
     {
      "name": "X-Paginate-Offset",
      "in": "header",
      "description": "Requested page number",
      "schema": {
       "type": "integer",
       "default": 1,
       "minimum": 1
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "headers": {
       "X-Total-Count": {
        "description": "Maximum number of items available",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Limit": {
        "description": "Number of items returned per page",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Offset": {
        "description": "Current page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-First": {
        "description": "First page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Last": {
        "description": "Last page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Prev": {
        "description": "Previous page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Next": {
        "description": "Next page number",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Pagination URI References - see https://tools.ietf.org/html/rfc5988",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/OrderDelivery"
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/order/deliveries/prices": {
   "get": {
    "tags": [
     "Sales"
    ],
    "summary": "Deliveries and products prices | Tarifs des prestations et des produits de vente",
    "operationId": "cfa8b241af1b10c2d80e70463413ff36",
    "parameters": [
     {
      "name": "tiersCode",
      "in": "query",
      "description": "Filter by customer code | Filtre par code client",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "entities",
      "in": "query",
      "description": "List of entity Ids",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "number"
       }
      }
     },
     {
      "name": "deliveryCode",
      "in": "query",
      "description": "Filter by delivery code | Filtre par code produit/prestation",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "Maximum number of items per page (enables pagination) - maximum 1000 per page",
      "schema": {
       "type": "integer",
       "maximum": 1000
      }
     },
     {
      "name": "offset",
      "in": "query",
      "description": "Requested page number",
      "schema": {
       "type": "integer",
       "default": 1,
       "minimum": 1
      }
     },
     {
      "name": "X-Paginate-Limit",
      "in": "header",
      "description": "Maximum number of items per page (enables pagination) - maximum 1000 per page",
      "schema": {
       "type": "integer",
       "maximum": 1000
      }
     },
     {
      "name": "X-Paginate-Offset",
      "in": "header",
      "description": "Requested page number",
      "schema": {
       "type": "integer",
       "default": 1,
       "minimum": 1
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "headers": {
       "X-Total-Count": {
        "description": "Maximum number of items available",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Limit": {
        "description": "Number of items returned per page",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Offset": {
        "description": "Current page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-First": {
        "description": "First page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Last": {
        "description": "Last page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Prev": {
        "description": "Previous page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Next": {
        "description": "Next page number",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Pagination URI References - see https://tools.ietf.org/html/rfc5988",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/OrderDeliveryPrice"
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/order/deliveries/process": {
   "get": {
    "tags": [
     "Sales"
    ],
    "summary": "Terms of deliveries and interventions / Modalit\u00e9s de prestations et livraisons",
    "operationId": "fc5d2ab8c9e7fe559f90b95937bbac0a",
    "parameters": [
     {
      "name": "active",
      "in": "query",
      "description": "adress is activ",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "Maximum number of items per page (enables pagination) - maximum 1000 per page",
      "schema": {
       "type": "integer",
       "maximum": 1000
      }
     },
     {
      "name": "offset",
      "in": "query",
      "description": "Requested page number",
      "schema": {
       "type": "integer",
       "default": 1,
       "minimum": 1
      }
     },
     {
      "name": "X-Paginate-Limit",
      "in": "header",
      "description": "Maximum number of items per page (enables pagination) - maximum 1000 per page",
      "schema": {
       "type": "integer",
       "maximum": 1000
      }
     },
     {
      "name": "X-Paginate-Offset",
      "in": "header",
      "description": "Requested page number",
      "schema": {
       "type": "integer",
       "default": 1,
       "minimum": 1
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "headers": {
       "X-Total-Count": {
        "description": "Maximum number of items available",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Limit": {
        "description": "Number of items returned per page",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Offset": {
        "description": "Current page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-First": {
        "description": "First page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Last": {
        "description": "Last page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Prev": {
        "description": "Previous page number",
        "schema": {
         "type": "integer"
        }
       },
       "X-Paginate-Next": {
        "description": "Next page number",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Pagination URI References - see https://tools.ietf.org/html/rfc5988",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/OrderDeliveryProcess"
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/order/delivery/categories": {
   "get": {
    "tags": [
     "Sales"
    ],
    "summary": "Deliveries and products Categories",
    "operationId": "c016464d82224b47fce1c1e1bf1c7ece",
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/OrderDeliveryCategory"
         }
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/order/delivery/category/types": {
   "get": {
    "tags": [
     "Sales"
    ],
    "summary": "Deliveries and products Categories Type",
    "operationId": "bb8bf5fd44581a97d381b52e74a659f1",
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/OrderDeliveryCategoryType"
         }
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/order/uow/types": {
   "get": {
    "tags": [
     "Sales"
    ],
    "summary": "UOW Type | Type de l'unit\u00e9 d'oeuvre",
    "operationId": "155796f76fa6d4b9dc176d8fa865b0b5",
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/OrderUOWType"
         }
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/order/{code}": {
   "get": {
    "tags": [
     "Sales"
    ],
    "summary": "Retrieve Order informations | Informations g\u00e9n\u00e9rales de l'affaire",
    "operationId": "fc952b1ce660938d5b0d6be63f785edf",
    "parameters": [
     {
      "name": "code",
      "in": "path",
      "description": "",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/OrderResponse"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/order/{code}/details": {
   "get": {
    "tags": [
     "Sales"
    ],
    "summary": "Retrieve order section list | Retourne la liste des volets de l'affaire",
    "operationId": "bfc28c00892994d20f5cb918610c16ee",
    "parameters": [
     {
      "name": "code",
      "in": "path",
      "description": "Your reference",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/OrderDetailsResponse"
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/order/{code}/forfait/{id}": {
   "get": {
    "tags": [
     "Sales"
    ],
    "summary": "Retrieve FORFAIT section of an Order | Volet de type FORFAIT d'une affaire",
    "operationId": "f78035a81e09b21b811b33f53886ce6f",
    "parameters": [
     {
      "name": "code",
      "in": "path",
      "description": "Your reference",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Section ID",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/OrderForfaitResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/order/{code}/forfait": {
   "post": {
    "tags": [
     "Sales"
    ],
    "summary": "Create an order with FORFAIT section and billing due date | Ajout d'une affaire avec un volet de type FORFAIT et une \u00e9ch\u00e9ance de facturation",
    "operationId": "debbf64167c9dd059142f58fc0265793",
    "parameters": [
     {
      "name": "code",
      "in": "path",
      "description": "Your reference",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/OrderForfait"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/OrderTypeResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/order/{code}/forfait/billing-subscription": {
   "post": {
    "tags": [
     "Sales"
    ],
    "summary": "Create an order with FORFAIT section and billing subscription | Ajout d'une affaire avec un volet de type FORFAIT et un abonnement de facturation",
    "operationId": "7858f3fe34fb549c41b073ab2dff1c44",
    "parameters": [
     {
      "name": "code",
      "in": "path",
      "description": "Your reference",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/OrderForfaitWithSubscription"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/OrderTypeResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/order/{code}/forfait/detail": {
   "post": {
    "tags": [
     "Sales"
    ],
    "summary": "Add a FORFAIT section | Ajoute un volet de type FORFAIT",
    "operationId": "de9e2fadf1220b119185d1c1b7feb58d",
    "parameters": [
     {
      "name": "code",
      "in": "path",
      "description": "Your reference",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/OrderForfaitDetail"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/OrderTypeResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "409": {
      "description": "Conflict",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/order/{code}/forfait/detail/billing-subscription": {
   "post": {
    "tags": [
     "Sales"
    ],
    "summary": "Add a FORFAIT section | Ajout d'un volet de type FORFAIT",
    "operationId": "baada07ec594de93c20610df44df1d13",
    "parameters": [
     {
      "name": "code",
      "in": "path",
      "description": "Your reference",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/OrderForfaitDetailWithSubscription"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/OrderTypeResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "409": {
      "description": "Conflict",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/order/{code}/forfait/{id}/billing/subscription": {
   "get": {
    "tags": [
     "Sales"
    ],
    "summary": "List of billing subscriptions in section | Liste des abonnements de facturation dans un volet",
    "operationId": "6de59302b4d964967fd57c5729764657",
    "parameters": [
     {
      "name": "code",
      "in": "path",
      "description": "Your reference",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Section ID",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/OrderForfaitBillingSubscriptionResponse"
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   },
   "post": {
    "tags": [
     "Sales"
    ],
    "summary": "Add billing subscription to section | Ajout d'un abonnement dans un volet",
    "operationId": "0598bb0f5ca06f95eb4d57cbd1d3f610",
    "parameters": [
     {
      "name": "code",
      "in": "path",
      "description": "Order code",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Section ID",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "Add a consultant (forfait)",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/OrderForfaitBillingSubscription"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Subscription key"
     },
     "400": {
      "description": "Bad request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/order/{code}/forfait/{id}/billing/subscription/{key}": {
   "delete": {
    "tags": [
     "Sales"
    ],
    "summary": "Delete a subcription in FORFAIT section | Supprimer un abonnement dans un volet FORFAIT",
    "operationId": "07830161ecd4d91d905d967f485aaf6a",
    "parameters": [
     {
      "name": "code",
      "in": "path",
      "description": "Order code",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Section ID",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "key",
      "in": "path",
      "description": "Line Key",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "Success"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/order/{code}/forfait/{id}/billing/schedule": {
   "get": {
    "tags": [
     "Sales"
    ],
    "summary": "List of billing due dates in section | Liste des \u00e9ch\u00e9ances de facturation dans un volet",
    "operationId": "c4bcd2df198847e12dae9ff15761498a",
    "parameters": [
     {
      "name": "code",
      "in": "path",
      "description": "Your reference",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Section ID",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/OrderForfaitBillingScheduleResponse"
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   },
   "post": {
    "tags": [
     "Sales"
    ],
    "summary": "Add billing due date to section | Ajout d'une \u00e9ch\u00e9ance de facturation dans un volet",
    "operationId": "a6323af40c71b13d67e3d2dd70a55da5",
    "parameters": [
     {
      "name": "code",
      "in": "path",
      "description": "Order code",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Section ID",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/OrderForfaitBillingSchedule"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Schedule key"
     },
     "400": {
      "description": "Bad request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/order/{code}/forfait/{id}/billing/schedule/{key}": {
   "delete": {
    "tags": [
     "Sales"
    ],
    "summary": "Delete a billing due date in FORFAIT section | Supprimer un \u00e9ch\u00e9ancier dans un volet FORFAIT",
    "operationId": "9344b47dc0ca6b59ed155bf5dd014018",
    "parameters": [
     {
      "name": "code",
      "in": "path",
      "description": "Order code",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Section ID",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "key",
      "in": "path",
      "description": "Line Key",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/OrderForfaitBillingScheduleDelete"
       }
      }
     }
    },
    "responses": {
     "204": {
      "description": "Success"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/order/{code}/forfait/{id}/activity": {
   "post": {
    "tags": [
     "Sales"
    ],
    "summary": "Add production activity | Ajout de l'activit\u00e9 de production",
    "operationId": "d07a1291829e82b4777f2e3b0d50595d",
    "parameters": [
     {
      "name": "code",
      "in": "path",
      "description": "Order code",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Section ID",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "Add a consultant",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/OrderPrestationLine"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/OrderTypeResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/order/{code}/regie": {
   "post": {
    "tags": [
     "Sales"
    ],
    "summary": "Create an order with TIME-BASED CONTRACT section| Ajout d'une affaire avec un volet de type REGIE",
    "operationId": "d903fe2af8e0f00c26d2e9ed38a11c0c",
    "parameters": [
     {
      "name": "code",
      "in": "path",
      "description": "Your reference",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/OrderRegieIn"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/OrderRegieInResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/order/{code}/regie/detail": {
   "post": {
    "tags": [
     "Sales"
    ],
    "summary": "Create a TIME-BASED CONTRACT section | Ajout d'un volet de type REGIE",
    "operationId": "0722240517e0de9988aa89afd6ea07a5",
    "parameters": [
     {
      "name": "code",
      "in": "path",
      "description": "Your reference",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/OrderRegieDetailIn"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/OrderRegieInResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/order/{code}/regie/{id}/prestation": {
   "post": {
    "tags": [
     "Sales"
    ],
    "summary": "Add a delivery in a TIME-BASED CONTRACT section | Ajout d'une prestation dans un volet de type REGIE",
    "operationId": "1d1090da975bda4b49d9021f0fb958d5",
    "parameters": [
     {
      "name": "code",
      "in": "path",
      "description": "Your reference",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Section ID",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/OrderRegiePrestationIn"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/OrderRegieInResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/order/{code}/regie/{id}": {
   "get": {
    "tags": [
     "Sales"
    ],
    "summary": "Retrieve REGIE section of an Order | Volet de type REGIE d'une affaire",
    "operationId": "1ae3570b996cd623eed07f7df7e59c3e",
    "parameters": [
     {
      "name": "code",
      "in": "path",
      "description": "Your reference",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Section ID",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/OrderRegieResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/order/forfait/billing-schedule/external-references": {
   "get": {
    "tags": [
     "Sales"
    ],
    "summary": "Forfait : List of external references | Forfait : Liste des r\u00e9f\u00e9rences externes",
    "operationId": "560bfb8ea27259ca38b012c86a2d058e",
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/OrderForfaitBillingScheduleExternalReferenceList"
         }
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/order/{code}/uow/{id}": {
   "get": {
    "tags": [
     "Sales"
    ],
    "summary": "List UOW sections in an order | Liste les volets de type UOW d'une affaire",
    "operationId": "316d08339f84e33e8cedbcbd2773b58c",
    "parameters": [
     {
      "name": "code",
      "in": "path",
      "description": "Your reference",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Section ID",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/OrderUOWResponse"
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "bearerAuth": []
     }
    ]
   }
  },
  "/v1/order/{code}/uow": {
   "post": {
    "tags": [
     "Sales"
    ],
[...]
